body{
font-family: 'Spartan', sans-serif;
}
img{
    max-width: 100%;
}

.header{
    background:#e0e0e0;
}

ul.primary-menu li{
    display: inline-block;
    position: relative;
}
ul.primary-menu li a{
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: #000;
    font-weight: 500;
}

/* Before */

ul.primary-menu li a {
    position: relative;
}

ul.primary-menu li a::after {
	content: "";
	position: absolute;
	top: 94%;
	left: 16px;
	width: 0;
	height: 6%;
	background: #3763eb;
    transition: .5s;
}
ul.primary-menu li:hover > a::after{
    width: 63%;
}
.hover-active{
    position: relative;
}
ul.primary-menu li a.hover-active::after {
	content: "";
	position: absolute;
	top: 94%;
	left: 16px;
	width: 63%;
	height: 6%;
	background: #3763eb;
}

/* Dropdown Menu CSS */
ul.primary-menu li{
    position: relative;
}
ul.primary-menu li ul{
    position: absolute;
    top: 107%;
    left: 16px;
    width: 220px;
    background: #fff;
    padding-left: 0;
    padding: 13px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
    z-index: 1;
}
ul.primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 101%;
}
ul.primary-menu li ul li{
    display: block;
}
ul.primary-menu li ul li a{
    background: #3763eb;
    display: block;
    padding: 10px 0 10px 30px;
    color: #fff;
    border-radius: 5px;
}
ul.primary-menu li ul li a::after{
    display: none;
}
.header-button a{
    display: inline-block;
    padding: 12px 24px;
    background: #fff;
    color: #3763eb;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-left: 20px;
}

/* Bannar CSS */

.banner-image-hidden{
    overflow: hidden;
}
.bannar-img{
   width: 700px;
   height: 700px;
   border-radius: 50%;
   overflow: hidden;
   position: relative;
   top: -146px;
   left: 40px;
}
.bannar-img img{
    width: 100%;
    height: 100%;
    z-index: -1;
}















.arrow-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.arrow-up span{
    background: #3763eb;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
.arrow-up span i{
    color: #fff;
    font-size: 30px;
}



/********* ASSIGNMET CLASS 34 **********/
.service-title span{
    color: #5f82ef;
    text-transform: uppercase;
    font-size: 18px;
}

.service-title h2 {
	font-size: 35px;
	font-weight: 700;
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
}
.service-title h2::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 50px;
    height: 2px;
    background: #0d6efd;
}
.service-title p {
	font-size: 16px;
	color: #606060;
}


.service-items{}

.service-desc {
	background: #f6f9fc;
	padding: 30px;
	margin-top: 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.service-desc h3 {
	font-size: 19px;
	line-height: 29px;
	margin-bottom: 20px;
    transition: 0.5s;
}

.service-icon {
	height: 70px;
	width: 70px;
	background: #3763eb;
	text-align: center;
	line-height: 70px;
	font-size: 25px;
	color: #fff;
	border-radius: 50% 50% 50% 0;
    margin-bottom: 25px;
    position: relative;
    transition: 0.5s;
}

.service-icon::before{
    content: "";
    position: absolute;
    top: 115%;
    left: 0;
    height: 3px;
    width: 30px;
    background: #3763eb;
    transition: 0.5s;
}

.service-icon i{}

.service-desc p{
    font-size: 15px;
    color: #606060;
    transition: 0.5s;
}

.bg-image{
    position: relative;
    z-index: 1;
}
.service-background {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 120px;
	left: -60px;
    z-index: -1;
}

.service-background img{
    width: 100%;
    height: 100%;
}

.service-desc:hover {
    background: #3763eb;
}

.service-desc:hover h3{
    color: #fff;
}
.service-desc:hover .service-icon{
    background: #fff;
    color: #3763eb;
}

.service-desc:hover p{
    color: #fff;
}

.service-desc:hover .service-icon::before{
    background: #fff;
    width: 60px;
}


.about{
    background-image: url(https://i.ibb.co/P62s7st/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-color: rgba(11, 36, 61, 0.9);
    background-blend-mode: overlay;
}


.about-btn{
    background: #fff;
    color: #3763eb;
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    position: relative;
}

.btnbtn{
    margin-top: 140px;
}
.about-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 5px double #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: animated 2s ease-in-out infinite;

}


@keyframes animated {
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(1);
        opacity: 0.8;
    }
    50%{
        transform: scale(3);
        opacity: 0.5;
    }
    75%{
        transform: scale(5);
        opacity: 0.1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}